
html {
    --color-wave: radial-gradient(transparent 1%, 
        rgba(255, 255, 255, 0.336) 50%, transparent 1%);

    --default-font: "Roboto";

    /* radial-gradient(red, green, blue); */
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#explore {
    display: block;
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-family: var(--default-font);
    text-align: center;
    color: #000000;
    background: #f3901f;
}


.controls {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    bottom: 0%;
    z-index: 10;
}

.color-blue {
    background: blue;
}

.color-purple {
    background: purple;
}

/* Buttons */
.btn-container {
    position: relative;
    justify-content: flex-end;
    padding: 20px 0;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    right: 0%;
}

.btn__float {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 0 40px 0 0;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    box-shadow: 0px 2px 8px 1px black;
}

.ripple:after {
    content: "";
    display: inline-block;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(0, 0);
    background: transparent;
    border-radius: 100%;
  }

.ripple:hover:after {
    content: "";
    display: inline-block;
    border-radius: 100%;
    opacity: 0;
    transform: scale(1.6, 1.6);
    transition: opacity 0.8s, background 0.8s, transform 0.25s;
    background: var(--color-wave);
    background-clip: content-box;
}

.ripple:active:after {
    content: "";
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    background: var(--color-wave);
    transform: scale(0, 0);
    transition: background 0.1s;
}



@keyframes open-filter--a {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes close-filter--a {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Filters */
#filter-container {
    position: relative;
    z-index: 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    background: rgba(6, 5, 39, 0.815);

}

.filter-container__title {
    position: relative;
    display: inline;
    align-self: center;
    font-size: 25px;
    padding-left: 20px;
    color: #fefefe;
    font-family: var(--default-font);
    letter-spacing: 1px;
    text-transform: uppercase;
}

#filter-container .close-filter {
    animation: close-filter--a .3s;
    animation-fill-mode: forwards;
}

#filter-container .filter:not(:last-child) {
    border-bottom: rgba(21, 111, 255, 0.7) solid 1px;
}

.filter {
    height: 120px;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: open-filter--a 0.3s;
    animation-fill-mode: forwards;
}

.filter__title {
    display: inline-block;
    color: #fefefe;
    font-size: 25px;
    font-family: var(--default-font);
}

.filter__input {
    display: inline-block;
    margin-right: 5%;
    width: 65%;
}

#filter-container .slider {
    width: 80%;
}


/* Overlay */

#info-overlay {
    position: absolute;
    margin: 10% 15% 0 15%;
    width: 70%;
    max-height: 60%;
    top: 0;
    background: #fefefe;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--default-font);

    display: flex;
    flex-flow: column;
    justify-content: space-between;
}


#info-overlay .info__top-bar {
    display: flex;
}

#info-overlay .info__top-bar .info__link {
    position: relative;
    top: -10px;
    left: -10px;
    border-top-left-radius: 10%;
    display: inline-block;
    margin-right: 25%;
    width: 50px;
    height: 50px;
    background: rgb(11, 95, 221);
    color: white;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fefefe;
}

/* Top Bar */
#info-overlay .info__top-bar .info__link:hover {
    background: rgb(3, 13, 27);
    color: skyblue;
}

#info-overlay .info__top-bar .info__dates {
    display: inline-block;
    margin-right: 5%;
}

#info-overlay .info__top-bar .info__dates {
    display: inline-block;
    margin-right: 5%;
}

/* Description */
#info-overlay .info__description-block {
    margin: 0 10% 13% 10%;
}

#info-overlay .info__description-block .info__cost{
    text-align: right;
    font-weight: 700;
}

#info-overlay .info__description-block .info__description {
    font-size: 20px;
}

#info-overlay .info__description-block .info__type {
    margin-top: 10px;
    text-align: right;
}

/* Footer */

#info-overlay .info__footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 0;
}


#info-overlay .info__footer .info__permit-number {
    align-self: flex-end;
}











