
html {
    --color-wave: radial-gradient(transparent 1%, 
        rgba(255, 255, 255, 0.336) 50%, transparent 1%);

    /* radial-gradient(red, green, blue); */
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#fly {
    display: block;
    position: absolute;
    z-index: 2;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
}


/* Buttons */
.btn-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10%;
    bottom: 10%;
    z-index: 10;
}

.btn__float {
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
    margin: 0 20px;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    box-shadow: 0px 2px 8px 1px black;
    background: blue;
}

.ripple:after {
    content: "";
    display: inline-block;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    transform: scale(0, 0);
    background: transparent;
    border-radius: 100%;
  }
  .ripple:hover:after {
    content: "";
    display: inline-block;
    border-radius: 100%;
    opacity: 0;
    transform: scale(1.6, 1.6);
    transition: opacity 0.8s, background 0.8s, transform 0.25s;
    background: var(--color-wave);
    background-clip: content-box;
  }


  .ripple:active:after {
    content: "";
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
    background: var(--color-wave);
    transform: scale(0, 0);
    transition: background 0.1s;
  }